// Place all the styles related to the job controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.time {
    padding-bottom: 20px;
}
.money {
    margin-bottom: 30px;
}
.people {
    margin-bottom: 30px;
}